/******************************************************************
Site Name: UJA
Author: Sagetopia

Stylesheet: Typography
******************************************************************/

html {
    font-size: $base;
}

body {
    font-size: 90%;
    font-family: $body;
    color: $text-color;
    line-height: 1.5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: $heading;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 1.5em 0 0.5em;

    .sidebar & {
        font-weight: 400;
    }

    &:first-child {
        margin-top: 0;
    }
}

h1, .h1 {
    font-size: $h1;
}

h2, .h2 {
    font-size: $h2;
}

h3, .h3 {
    font-size: $h3;
}

h4, .h4 {
    font-size: $h4;
}

h5, .h5 {
    font-size: $h5;
}

h6, .h6 {
    font-size: $h6;
    letter-spacing: 0;
}

p, ol, ul {
    margin: 0 0 1em;
}

ol, ul {
    ol, ul {
        font-size: 1em;
    }
}

p {
    margin: 0 0 1em;
    hyphens: none;
}

.site-title,
.section-title,
.block-title,
.sidebar-title {
    text-align: center;
}

.site-title {
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1;

    small {
        display: block;
        font-size: 0.4em;
        margin-bottom: 0.5em;
    }

    @include media-breakpoint-up(md) {
        font-size: 3em;
    }

    @include media-breakpoint-up(lg) {
        font-size: 4em;
    }
}

.section-title {
    font-weight: normal;
    margin-bottom: 1em;
}

.block-title {
    font-weight: normal;
    color: $blue;
    margin: 0 0 1em;
}

.large-text {
    font-size: $large-text;
}

/************************************************************************/
/*                          MEDIA QUERIES                               */
/************************************************************************/

@include media-breakpoint-up(md) {

    body {
        font-size: 100%;
    }
}
