
/*********************
BUTTON DEFAULTS
*********************/

%btn {
	background: transparent;
	display: inline-block;
	font-size: $medium-text;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-decoration: none;
	padding: 0.35em 1.75em 0.45em;
	// margin: 0 0 0.5em;
	border: 3px solid $med-grey;
	border-radius: 2em;
	line-height: 1;

  	&:hover,
  	&:focus,
  	&:active {
	  	text-decoration: none;
  	}

  	&:active {
		top: 1px;
  	} 
}

.btn {
	@extend %btn;

	+ .btn {
		margin-left: 1em;
	}

	&.btn-green {
		color: $green;
		border-color: $green;

		&:hover {
			background-color: $green;
			color: $white;
		}
	}

	&.btn-white {
		background-color: $white;
		color: $red;
	}
}