
form {
    text-align: center;

    &.aligned-form {
        .form-item {
            @extend .row;
            align-items: center;

            &:first-child {
                margin-top: 0;
            }
        }

        .item-label,
        .item-field {
            @include make-col-ready;
        }

        @include media-breakpoint-up(md) {
            .item-label {
                @include make-col(3);
                text-align: right;
            }

            .item-field {
                @include make-col(6);
            }
        }
    }

    &.search-form {
        max-width: 500px;
        margin: 1em auto 0;
        position: relative;

        .search-field {
            border: 0;
            border-radius: 100px;
            padding: 0.5em 3em 0.5em 1em;
            @include box-shadow;
        }

        .search-submit {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border: 0;
            padding: 0 0.75em;
            color: $grey;

            &::before {
                content: $magnifier;
                font-family: $fa;
                color: inherit;
            }

            &:hover {
                background-color: $light-grey;
                color: $med-grey;
            }
        }
    }
}

    fieldset {
        padding: 0;
        margin-bottom: 1em;
        border: none;

        legend {
            font-size: $medium-text;
            font-weight: bold;
            margin-bottom: 0.5em;
        }
    }

    label {
        font-size: $small-text;
        text-align: left;

        &.required {
            &::before {
                content: '*';
                color: $red;
            }
        }
    }

    input,
    textarea,
    select,
    .select2 .select2-selection {
        display: block;
        width: 100%;
        height: auto;
        font-size: $normal-text;
        line-height: normal;
        margin-bottom: 1em;
        background-color: $white;
        -webkit-appearance: none;
        padding: 1em 1em;
        color: $text-color;
        border-radius: 5px;
        border: 2px solid $grey;
        text-align: left;

        &:focus {
            outline: none;
            border-color: $blue;
        }

        @each $prefix in ('::-webkit-input-placeholder', ':-moz-placeholder', '::-moz-placeholder', ':-ms-input-placeholder') {
            &#{$prefix} {
                color: $grey;
            }
        }

        &.input-inline {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            margin: 0;
        }
    }

    .select2 {
        margin-bottom: 1em;
        max-width: 100%;

        .select2-selection {
            margin: 0;

            .select2-selection__rendered {
                padding: 0;
                line-height: normal;

                .select2-selection__placeholder {
                    color: $grey;
                }
            }

            .select2-selection__arrow {
                height: 100%;
            }
        }
    }

    .select2-container {
        .select2-dropdown {
            border: 2px solid $blue;
            border-top: none;
        }

        .select2-results__option--highlighted[aria-selected] {
            background-color: $blue;
        }
    }

    label {
        font-weight: normal;
        vertical-align: middle;
    }

    [type="checkbox"] {
        display: inline-block;
        width: auto;
        -webkit-appearance: checkbox;
    }

    [type="submit"] {
        @extend .btn;
        @extend .btn-green;
        width: auto;

        &:focus,
        &:active:focus {
            outline: none;
        }
    }

// Form field replacements
.hidden-input {
    position: absolute !important;
    clip: rect(0,0,0,0) !important;

    &:checked {
        + .checkbox-label:after,
        + .radio-label:after {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            top: 4px;
            left: 4px;
            background-color: $blue;
        }
    }
}

.replacement-label {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 1em;
    line-height: 1.4;
    color: $med-grey;

    &:before {
        content: '';
        display: block;
        height: 22px;
        width: 22px;
        flex: 0 0 22px;
        max-width: 22px;
        border: 2px solid $grey;
        border-radius: 3px;
        margin: 0 0.6em 0 0;
    }

    &.inline {
        display: inline-flex;
        margin-left: 1.5em;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

// Checkbox
.checkbox-label {
    @extend .replacement-label;
}

.checkbox-button {
    @extend .btn;
    background-color: $light-grey;
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border: 0;

    &:hover {
        background-color: darken($light-grey, 10%);
    }
}

.checkbox {
    @extend .hidden-input;

    &:checked {
        + .checkbox-label {
            &:after {
                border-radius: 4px;
            }
        }

        + .checkbox-button {
            @extend .btn-white;
            @include box-shadow;
        }
    }
}

// Radio button
.radio-label {
    @extend .replacement-label;

    &:before {
        border-radius: 50%;
    }
}

.radio {
    @extend .hidden-input;

    &:checked + .radio-label {
        &:after {
            border-radius: 50%;
            background-color: $blue;
        }
    }
}

.login-form {
    .forgot-password {
        float: right;
    }
}