
@include media-breakpoint-up(md) {

	a {
		transition: all 0.2s ease-in-out;

		&:hover, &:active, &:focus {
			color: darken($blue, 9%);
		}
	}

	.nav {
		flex-direction: row;
		justify-content: center;
	}

	/*********************
	HEADER
	*********************/

	.site-header {
		.header-inner {
			&::before {
				right: percentage(1/2);
			}
		}

		.site-logo {
			border-right: 1px solid $grey;

			.logo {
				height: 75px;
			}
		}

		.main-nav .nav {
			top: calc(#{$logo-height-md} + 2em);
		}
	}

	#nav-trigger:checked + .site-header .main-nav .nav {
		height: calc(100vh - #{$logo-height-md} - 2em);
	}


	/*********************
	HEROIC
	*********************/

	.page-header {
		max-height: 300px;
		padding-bottom: 3em;
		background-image: url(../images/bg-town@2x.png);

		@each $image in $bg-images {
			&.image-#{$image},
			.image-#{$image} {
				background-image: url(../images/bg-#{$image}@2x.png);
			}
		}
	}


	/*********************
	FOOTER
	*********************/

	.site-footer {
		a:hover {
			color: $red;
		}
		
		.footer-menu {
			a {
				padding: 0 0 0 2em;

				&:hover {
					color: lighten($red, 10%);
				}
			}

			li:first-child a {
				padding: 0;
			}
		}

		.col-logos {
			align-items: flex-start;
			justify-content: flex-end;

			.footer-logo {
				margin-left: 3em;
			}
		}
	}

}